<!DOCTYPE html>

<html>
<head>
    <style>

        h2 {
        color: white;
        text-align: center;
        
        text-decoration: underline;
        text-decoration-line: underline ;

        }

        h2:hover{
            color:yellow;
        }

        body{
            background-color: rgb(102, 97, 97);
            text-align: center;
            color : white;
            
        }

        form {
            font-size: xx-large;
        }

    </style>

</head>

<body>
<h2>Less GOooo!!!</h2>
<h1>Factorial Form</h1>

<form action = "fact" , method ="get">
    {% comment %} {% csrf_token %} {% endcomment %}
    {{form}}
    <input type = "submit">


</form>
</body>

</html>